<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
		"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><page-title /></title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" media="screen" href="<cyte:path/>/_assets/styles/main.css" />
	<script type="text/javascript" src="<cyte:path/>/_assets/js/prototype.js"></script>
</head>
<body>
	<div id="header">
			<h1>CyTE</h1>
	</div>
	<div id="body">
		<div id="left">
				<cyte:navigation />
		</div>
		<div id="right">
				<content-slot />
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer" class="clear">
		<p>&copy; 2007 CyTE | Last updated: <cyte:mod_date /> | <cyte:version /></p>
	</div>
</body>
</html>
